<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dokt.jacmcu">

    <!-- Journal d'ivi-services (trames brutes) en mode service : adb shell pm grant com.dokt.jacmcu android.permission.READ_LOGS -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:label="JacMCU"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:allowBackup="false"
        android:extractNativeLibs="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
